DEBUG = False
SECRET = 'yoursecret'
REPOS = [{'repo': 'user/repo',
            ansible_hosts: 'ansible_hosts',
            ansible_playbook: 'playbook.yml'
#          'folder': '/your/repo',
#          'commands': [
#              ['git', 'fetch'],
#              ['git', 'pull', 'origin', 'master']
#             ]
           }
          ]
