DEBUG = False
SECRET = 'yoursecret'
TOKEN = 'your-github-token'
SLACK_WEBHOOK = 'yourslackwebhook'
REPOS = [{'repo': 'user/repo',
         'folder': '/your/repo',
         'commands': [
             ['git', 'fetch'],
             ['git', 'pull', 'origin', 'master']
            ]
          }
         ]
